@font-face {
    font-family: 'Bodoni 72 Smallcaps';
    src: url('path/to/Bodoni72Smallcaps.woff2') format('woff2'),
         url('path/to/Bodoni72Smallcaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Bodoni 72 Smallcaps', serif;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
}

header {
    background-color: #121212;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    height: 400px;
}

header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logo */
    flex-direction: column; /* Arrange logo and nav vertically */
}

header .logo-container img {
    height: 300px; /* Increase logo height */
    margin-bottom: 20px; /* Add space between logo and nav */
}

nav {
    margin-top: 20px; /* Add space above the navigation */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 3rem; /* Reduce the spacing between nav items */
    position: relative; /* Add relative positioning for the underline effect */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem; /* Increase font size */
    padding-bottom: 5px; /* Add padding for the underline */
    transition: color 0.3s; /* Smooth color transition */
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Set the height of the underline */
    background: #b4b4b4;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

/* Ensure the active page is underlined */
nav ul li a.active {
    color: #b4b4b4; /* Optionally change color for active link */
}

/* New CSS for the bio section */
.bio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    background-color: #121212; /* Match the background color */
}

.bio-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.bio-image {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.bio-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

.bio-text {
    flex: 2;
    text-align: left;
}

.bio-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.bio-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%; /* Ensure full width */
    background-color: #121212; /* Ensure background color is consistent */
    margin: 0; /* Ensure no extra margins */
    padding: 0; /* Ensure no extra padding */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: auto;
}

.playlist-section {
    background-size: cover;
    background-position: center;
    min-height: 80vh; /* Ensure it covers the full height of the viewport */
    width: 100%;
    display: flex;
    flex-direction: column; /* Make flex direction column to accommodate title */
    align-items: center;
    justify-content: center; /* Center content vertically */
    color: #fff;
    padding: 0; /* Remove padding to prevent separation */
    margin: 0; /* Ensure no extra margins */
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.playlist-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 0;
}

.section-title {
    font-size: 3rem; /* Adjusted font size */
    font-weight: bold;
    margin: 0; /* Remove default margins */
    padding: 20px 0; /* Add padding for spacing */
    z-index: 1; /* Ensure it is above other content */
    position: relative; /* Ensure it is positioned relative to the section */
    top: 0; /* Ensure it starts at the top of the section */
}

.playlist-content {
    background-color: rgba(48, 48, 48, 0); /* Ensure it is above the background */
    padding: 20px; /* Adjust padding */
    border-radius: 4px;
    max-width: 600px; /* Adjust width */
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1; /* Ensure it is above the background */
    margin-top: 20px; /* Space between title and content */
}

.album-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.album-cover-large {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.track-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.track-title-large {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.track-artist-large {
    font-size: 1rem;
    color: #fffcfc;
    margin: 10px 0;
}

.audio-player {
    width: 100%;
    margin-top: 10px;
}

.audio-player audio {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.track-list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 250px; /* Set max height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

.track {
    display: flex;
    align-items: center;
    padding: 3px 0; /* Reduced padding */
    border-bottom: 1px solid #44444400;
    cursor: pointer;
    font-size: 0.8rem; /* Adjusted font size */
    line-height: 1.2; /* Adjusted line height */
    width: 100%;
    transition: background-color 0.3s; /* Add transition for hover effect */
}

.track img {
    width: 55px; /* Adjusted size */
    height: 55px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.track-title {
    font-weight: bold;
    font-size: 1rem; /* Adjusted font size */
    line-height: 1.1; /* Adjusted line height */
}

.track-artist {
    font-size: 0.9rem; /* Adjusted font size */
    color: #ffffff;
    line-height: 1.1; /* Adjusted line height */
}

.track-duration {
    text-align: right;
    padding-right: 20px;
    font-size: 0.8rem; /* Adjusted font size */
    line-height: 1.2; /* Adjusted line height */
    min-width: 50px; /* Ensure duration is not overlapped */
}

.track:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.track.active {
    background-color: rgba(255, 255, 255, 0.2);
}

h3, h2 {
    color: #fff;
    margin: 10px 0;
    font-size: 1.2rem;
}
