body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
}

header {
    background-color: rgb(40, 39, 39);
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.content {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: auto;
}

.playlist-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.playlist-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.album-cover {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.audio-player {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.audio-player audio {
    width: 100%;
}

.track-list {
    width: 100%;
    max-width: 600px;
}

.track {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #44444400;
    cursor: pointer;
    font-size: 0.85rem;
    line-height: 1.2; /* Reduce line height */
}

.track img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.track-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2; /* Reduce line height */
}

.track-artist {
    font-size: .9rem;
    color: #fffbfb;
    line-height: 1.2; /* Reduce line height */
}

.track-duration {
    text-align: right;
    font-size: 0.75rem;
    line-height: 1.2; /* Reduce line height */
}

.track:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.track.active {
    background-color: rgba(255, 255, 255, 0.2);
}

h3, h2 {
    color: #fff;
    margin: 10px 0;
    font-size: 1.5rem;
}